@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto/Roboto-Thin.ttf');
    /* assuming the file is in public/vendor/fonts */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}