.add-form-field{
    padding:10px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}
.button-container{
    display: table;
}
.submit-button{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
}