.categories{
    margin-top:10px;
    
}
.categories i{
    font-size: 1.5rem;
}
.category-icon{
    border:.1rem dashed #ececec;
    padding:10px;
    background-color: white;
}
.selected-category{
    background-color:#C8E6C9;
}