@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin.ttf');
    /* assuming the file is in public/vendor/fonts */
}

.todo-item {
    background-color: white;
    padding: 10px;
    text-align: left;
    margin-top: 10px;
    font-family: Roboto;
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
}

.todo-content {
    float: left;
}
.todo-icon {
    float: left;
    margin-top: 15px;
    text-align: center;
}
.todo-icon i{

}

.actions {
    float: right;
}

.todo-description {
    font-size: 10px;
    margin-top: 10px;
}

.todo-deadline {
    margin-top: 10px;
    font-size: 10px;
    position: relative;
}

.toolbar-container {
    display: table;
    width: 100%;
}

.high-priority{
    border-left: 2px solid;
    border-left-width: thick;
    border-left-color: #BF360C;
}
.low-priority{
    border-left: 2px solid;
    border-left-width: thick;
    border-left-color: #E0E0E0;
}
.complete-button{
    /*background-color: #E0F2F1;*/
}
.edit-button{
    /*background-color: #FFF8E1;*/
}
.delete-button{
    /*background-color: #FBE9E7;*/
}
.complete-button, .edit-button, .delete-button{
    border: none;
    height: 65px;
    margin-top: -3px;
    background-color:transparent;
}