.toolbar-container {
    height: 50px;
    background-color: #006064;
    color: white;
    font-family: Roboto;
}

.toolbar-title {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 10px;
    font-size: 1.5rem;
    margin-top: 8px;
}

.toolbar-actions {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: right;
    padding-right: 10px;
    margin-top: 12px;
}

.action {
    margin-right: 10px;
}

.toolbar-title-text {
    margin-top: 5px;
}
.toolbar-actions a {
    color:#ffffff;
}